html{
    width: 100%;
    height: 100%;
  
}

.fondo-login{
    background: rgb(2,0,36);
    background: linear-gradient(142deg, rgba(2,0,36,1) 0%, rgba(80,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background: #1A2980;  /* fallback for old browsers */
    background: linear-gradient(to right, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.video-login{
 width: 100%;
 height: 100%;
}